---
import Layout from "../layouts/Layout.astro";
import Nav from "../components/Nav.astro";
---

<Layout pageTitle="Original Order">
	<div>
		<h1>Original Order</h1>
		<h1>Order Original</h1>
	</div>
	<Nav />
</Layout>

<style>
	div {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		height: 100dvh;

		h1 {
			font-weight: bold;
			text-transform: uppercase;
		}
	}
</style>
