<figure>
  <div data-missing-image></div>
</figure>
<style>
  div[data-missing-image] {
    width: var(--baseline-width);
    aspect-ratio: 4 / 3;
    background-color: var(--color-grey);
  }
</style>
