<main class="wrapper">
  <slot />
</main>

<style>
  main {
    padding-block: calc(2 * var(--spacing--base));
    display: flex;
    flex-direction: column;
    gap: calc(2 * var(--spacing--base));
  }
</style>
