---
import "../styles/reset.scss";
import "../styles/base.scss";

interface Props {
	pageTitle?: string; // Define the type for the prop
}

const { pageTitle } = Astro.props; // Destructure the prop
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			content="initial-scale=1, width=device-width, viewport-fit=cover"
			name="viewport"
		/>
		<link rel="icon" type="image/x-icon" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
		<title>{pageTitle && `${pageTitle} | `} Bettina</title>
	</head>

	<body>
		<slot />
	</body>
</html>
