@layer reset, base;

@layer base {
  :root {
    --color-white: #ffffff;
    --color-black: #000000;
    --color-text: var(--color-white);
    --color-bg: var(--color-black);
    --color-grey: #e5e5e5;
    --color-filter-series: #12268D;
    --color-filter-medium: var(--color-black);
    --color-filter-taxonomy: #53164D;



    --font-family: 'Helvetica Neue', 'Helvetica', Arial, sans-serif;
    --font-family--secondary: 'Courier New', Courier, monospace;
    --font-size--base: 14px;
    --spacing--base: var(--font-size--base);

    --leading: 1;
    --tracking: -0.02em;

    @media screen and (min-width: 768px) {
      --font-size--base: 16px;
    }
  }

  body {
    font-family: var(--font-family);
    font-size: var(--font-size-base);
    line-height: var(--leading);
    background-color: var(--color-bg);
    letter-spacing: var(--tracking);

    color: var(--color-text);
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
  }

  .mono {
    font-family: var(--font-family--secondary);
    letter-spacing: 0;
  }

  strong,
  .strong {
    font-weight: bold;
  }

  em {
    font-style: italic;
  }

  h1 {
    font-size: calc(4 * var(--font-size--base));
  }

  h2 {
    font-size: calc(2 * var(--font-size--base));
  }

  h3 {
    font-size: calc(1.5 * var(--font-size--base));
  }

  caption {
    font-size: calc(0.875 * var(--font-size--base));

  }

  button,
  a {
    cursor: pointer;
  }
}